body {
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 20px;
    position: relative;
}

.shiftDataForm fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.inputDiv {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    & .vehicleType {
        width: 100%;
        text-align: center;
    }

    &.submitBtnDiv {
        width: 100%;
        display: flex;
        justify-content: center;

        & button {
            width: 70px;
            height: 40px;
            border-radius: .5rem;
        }
    }
}

.counter {
    position: absolute;
    top: 90svh;

    & a {
        font-size: 3px;
    }
}